<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>Chatters </ion-title>
    <ion-button slot="end" size="small" shape="square" (click)="signUpNavigate()">        
      +
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar #search debounce="500" (ionChange)="_ionChange($event)" (ionCancel)="_alert()" 
  showCancelButton="always" cancelButtonText="Cancel" showClearButton="never" placeholder="Search Chatters:"></ion-searchbar> 
  <ion-list *ngIf="showSearch">
    <ion-item  *ngFor="let user of usersFiltered; let i = index">
      <ion-label>
        <h2>{{user.name}}</h2>
        <h3>{{user.contact}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
