<ion-header>
  <ion-toolbar>
    <ion-title>My Friends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Finn</h2>
          <h3>Finn@a.com</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">Remove Friend</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item>
        <ion-label>
          <h2>Ishini</h2>
          <h3>Ishini@a.com</h3>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">Remove Friend</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
