<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <h4>Add Friends:</h4>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Full Name: </ion-label>
      <ion-input type="text" [(ngModel)]="name" clearInput></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Email: </ion-label>
      <ion-input type="text" [(ngModel)]="contact" clearInput></ion-input>
    </ion-item>
  </ion-list>
    

</ion-content>

<footer>
  <ion-button expand="full" color="success" (click) ="presentAlert()">Send Invitation</ion-button>
</footer>