<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>ChatApp! </ion-title>
    <ion-button slot="end" size="small" shape="square" (click)="signUpNavigate()">        
      +
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Current Group Chat</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Newest Message:

      <ion-item>
        <ion-label>
          <h2>Finn</h2>
          <h3>Finn@a.com</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-button size="small" color="success" shape="square" (click)="conversationNavigate()">        
          Resume
        </ion-button>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item lines="none">
        <ion-button size="small" shape="square" (click)="myFriendsNavigate()">        
          Members
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-content>
