<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button></ion-back-button></ion-buttons>
    <ion-title>ChatApp! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Current Group Chat</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Newest Message From:

      <ion-item *ngFor="let conversation of latestValues; let i = index" lines="none">
        <ion-label>
          <h2>{{conversation.name}}</h2>
          <h3>{{conversation.contact}}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-button size="small" color="success" shape="square" (click)="conversationNavigate()">        
          Resume
        </ion-button>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item lines="none">
        <ion-button size="small" shape="square" (click)="myFriendsNavigate()">        
          Members
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  
</ion-content>
